Babel==2.7.0
beautifulsoup4==4.6.0
Django==2.2.28
django-phonenumber-field==3.0.1
docopt==0.6.2
phonenumbers==8.10.22
Pillow==6.2.0
psycopg2-binary==2.8.4
pycairo==1.16.2
pytz==2019.3
pyxdg==0.25
requests==2.18.4
setproctitle==1.1.10
six==1.13.0
sqlparse==0.3.0
style==1.1.0
urllib3==1.22
