<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> <li>(254)-715-766-648</li><li>(254)-770-341-031</li><li>(254)-762-400-645</li>
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> info@dubiz.co.ke
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> To advertise on this website, call or send us an email.
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
